body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ddd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #555;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #af8eda;
}

footer {
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.discord {
  color: #7289da;
}
