@font-face {
  font-family: 'HutlawStyle';
  src: url('fonts/HutlawStyle-Regular.ttf') format('truetype'),
       url('fonts/HutlawStyle-Regular.otf') format('opentype');
}

body {
  font-family: 'HutlawStyle', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(-45deg, #f0c27b, #4b1248, #c31432, #240b36);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  opacity: 0.6;
  background-color: #555;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  animation: headerAnimation 15s ease infinite;
}

@keyframes headerAnimation {
  0% {
    background-color: #555;
  }
  50% {
    background-color: #333;
  }
  100% {
    background-color: #555;
  }
}

footer {
  opacity: 0;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  animation: footerAnimation 15s ease infinite;
}

@keyframes footerAnimation {
  0% {
    background-color: #555;
  }
  50% {
    background-color: #333;
  }
  100% {
    background-color: #555;
  }
}

h1 {
  margin: 0;
  display: inline-block;
}

main {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h3 {
  color: #af8eda;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  float: right;
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .profile-picture {
    width: 50px;
    height: 50px;
    margin-top: 0;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.version-marker {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ddd;
  font-size: 12px;
  opacity: 0.5;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
